# This is a basic workflow to help you get started with Actions

name: MacroregionsDatas

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  schedule:
    - cron: '15 0 * * *'
    
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build_Macroregions_csv_files:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: installing dependecies
        run: pip install pandas
        
      - name: getting macroregion datas
        run: python ./covid_br/get_macroregion_data.py

      # Runs a set of commands using the runners shell
      - name: Commit and Push
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add -A
          git commit --allow-empty -m ":robot: Updated CSVs of Macraregions datas, Ceara and Bahia"
          git push
